.table{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin: 2rem auto auto auto;
    width: 100vw;
    max-width: 980px;
    
}
.table button {
    padding: .75rem 1.5rem;
    margin: 0;
    outline: none;
    border: 1px solid #797953;
    width: 25vw;
    font-size: 1.25rem;
    font-weight: 700;
    background: #818112;
}
 .table button:active{
    outline: none;
     border: 0;
     color: green;
     box-shadow: none;
 }

@media screen and (min-width:780px){
    .table button {
   padding: 1rem 2rem;
   width: calc(980px / 4);
    font-size: 1.5rem;
    
}

}